<div class="app-footer  mt-12 px-6 md:px-12 py-12">
    <footer class="text-slate-500">
        <div style="height: 200px;"></div>
        <p>Copyright &copy; 2025 WITA Journal Editors and Contributors, "WITA JOURNAL UNINC".</p>
        <div style="height: 1rem;"></div>
        <div>
            Web mirrors:
            <a  class="hover:text-blue-600" href="https://wita-journal.github.io/">[1]</a>
            <a  class="hover:text-blue-600" href="https://weightintheattention.pages.dev/">[2]</a>
            <a  class="hover:text-blue-600" href="https://wita.nekostein.com/">[3]</a>
            <a  class="hover:text-blue-600" href="https://wita.neruthes.xyz/">[4]</a>
        </div>
    </footer>
</div>
