<div class="px-6 md:px-12 py-20">
    <div class="py-12">
        <h1 class="text-4xl lg:text-5xl font-bold serif text-center">AIGC-themed journal with open access for everyone</h1>
    </div>
</div>


<div class="px-6 md:px-12 py-20">
    <h2 class="hidden">Features</h2>
    <div class="grid lg:grid-cols-2 gap-4 lg:gap-8 space-between text-center" style="max-width: 700px; margin: 0 auto;">
        <div class="border-1 border-slate-200 rounded-lg p-6">
            <h3 class="text-2xl font-bold">Latest Issue</h3>
            <p class="text-lg"><a class="underline text-blue-600" href="./issue/{{year}}/{{issue}}.html">202508</a></p>
            <p class="text-lg"><a class="underline text-blue-600" href="./files/issue/{{year}}/{{issue}}.pdf">[PDF]</a></p>
        </div>

        <div class="border-1 border-slate-200 rounded-lg p-6">
            <h3 class="text-2xl font-bold">Submit Article</h3>
            <p>We make sharing AIGC-related articles inclusive and convenient.</p>
            <p>For more information, see <a class="underline text-blue-600" href="./issue/2025/202508/202508.2.html">WITA.202508.2</a>.</p>
        </div>
    </div>
</div>
