<title>{{title}} | Blog | Weight in the Attention</title>
<style>
    article {
        max-width: 800px;
    }
    article h2 {
        font-size: 1.4em;
        font-weight: 600;
    }
    article h3 {
        font-size: 1.1em;
        font-weight: 600;
    }
    article h2,
    article h3 {
        margin: 1.5em 0 0.3em;
    }
    article blockquote,
    article ul,
    article ol,
    article p {
        margin: 1em 0 0.2em;
    }
    article li {
        margin-left: 2em;
        list-style: disc;
        list-style-position: outside;
    }
    article p, article li {
        text-align: justify;
    }
</style>
